


<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://unity-img.tbxapis.com/v0/images/9501437dcec0ddab011859581736c9c7/bannerItem/66ad0dcca36ad36d93228ed4/4e5927ea59ffb090348ebfcb174701db/img.jpg?crop=resizeScale&size=BANNER" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://unity-img.tbxapis.com/v0/images/9501437dcec0ddab011859581736c9c7/bannerItem/66c34faec6792c6b280c1e01/9bd1bc0f8fc633a96cc8010fa32af291/img.jpg?crop=resizeScale&size=BANNER" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://unity-img.tbxapis.com/v0/images/9501437dcec0ddab011859581736c9c7/bannerItem/66ad0ed2d5c970180dd25636/9501052aec3ee82e49f104861678f326/img.jpg?crop=resizeScale&size=BANNER" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-center">
      <%= link_to 'Peliculas', films_path, class: "btn btn-outline-success me-2", role: "button" %>

      <%= link_to 'Series', series_index_path, class: "btn btn-outline-danger me-2", role: "button" %>

      <%= link_to 'Documentales', documentary_films_path, class: "btn btn-outline-primary me-2", role: "button" %>

    </form>
  </nav>





  <!-- lista en la portada las peliculas destacadas -->
 <div id="films">
  <h1>Peliculas Destacadas</h1>
  <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 row-cols-lg-4 ">
    <% @films.each do |film| %>
      <%= render film %>
    <% end %>
  </div>


  <!-- lista en la portada los documentales -->
  <h1 class="mt-5">Documentales Destacados</h1>
  <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 row-cols-lg-4 ">
    <% @documentary_films.each do |film| %>
      <%= render film %>
    <% end %>
  </div>


  <!-- Lista en la porta las series -->
  <h1 class="mt-5">Series Destacadas</h1>
  <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 row-cols-lg-4 ">
    <% @series.each do |film| %>
      <%= render film %>
    <% end %>
  </div>
</div>

