<div id="<%= dom_id film %>">
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= film.sinopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= film.imagen %>
  </p>

</div>
