<!-- controla los espacios vacios en card-tex -->
<div class="col">
  <%= javascript_include_tag "controllers/espaciovacio_controller" %>

  <div id="<%= dom_id film %>" class="row d-flex justify-content-center align-items-center gap-3 mt-5 " >
        <div class="card" style="width: 18rem;">
          <img src="<%= film.imagen %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= film.name %></h5>
              <p class="card-text {{ texto ? '' : 'empty-text' }}"><%= film.sinopsis %>.</p> <!-- controla que no exista texto vacio -->

              <% if params[:id] %>
                <% film = Film.find(params[:id]) %>
                <div id="<%= dom_id film %>">
                  <p>
                    <strong>Name:</strong>
                    <%= film.name %>
                  </p>
                  <p>
                    <strong>Director:</strong>
                    <%= film.director %>
                  </p>
                </div>
                <div class="d-flex justify-content-center gap-2">
                    <%= link_to "Regresar", films_path, class: "btn btn-primary" %>
                    <%= link_to "Editar", edit_film_path(@film), class: "btn btn-primary"%>
                    <%= link_to "Eliminar", @film, method: :delete, class: "btn btn-danger" %>
                  </div>

              <% else %>
                <%= link_to "Ver mas..", film, class: "btn btn-primary" %>
              <% end %>
              
            </div>
        </div>

  </div>
</div>  