<!-- controla los espacios vacios en card-tex -->
<div class="col">
<%= javascript_include_tag "controllers/espaciovacio_controller" %> 

  <div id="<%= dom_id film %>" class="mt-5" >



        <div class="card" style="">
          <img src="<%= film.imagen %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= film.name %></h5>
              <p class="card-text {{ texto ? '' : 'empty-text' }}"><%= film.sinopsis %>.</p> <!-- controla que no exista texto vacio -->
              <%= link_to "Ver mas..", film, class: "btn btn-primary" %>
            </div>
        </div>

  </div>
</div>  