<div id="<%= dom_id series %>">
  <p>
    <strong>Name:</strong>
    <%= series.name %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= series.sinopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= series.director %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= series.imagen %>
  </p>

</div>
