<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'AppEntreter', page_index_path, class:"navbar-brand", "arial-current" => "page"  %>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Inicio', page_index_path, class:"nav-link active", "arial-current" => "page"  %>
        </li>
        <li class="nav-item">
            <%= link_to 'Crear Serie', new_series_path, class:"nav-link active", "arial-current" => "page"  %>
        </li>
      </ul>
      <ul class="list-unstyled mb-0 d-flex justify-content-center gap-2 mx-4">
        <li>
          <%= link_to 'Documentales', documentary_films_path, class: "btn btn-outline-primary btn-sm", role: "button " %>
        </li>
        <li>
          <%= link_to 'Peliculas', films_path, class: "btn btn-outline-success btn-sm", role: "button"%>
        </li>
        <li>
          <%= link_to 'Series', series_index_path, class: "btn btn-outline-danger btn-sm", role: "button",  disabled: true    %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>













<%
=begin%>
 

<p style="color: green"><%= notice %></p> 
<%
=end%>

<%= render @series %>

<%
=begin%>
 <div>
  <%= link_to "Edit this series", edit_series_path(@series) %> |
  <%= link_to "Back to series", series_index_path %>

  <%= button_to "Destroy this series", @series, method: :delete %>
</div> 
<%
=end%>
