<div id="<%= dom_id documentary_film %>">
  <p>
    <strong>Name:</strong>
    <%= documentary_film.name %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= documentary_film.sinopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= documentary_film.director %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= documentary_film.imagen %>
  </p>

</div>
